<a href="https://colab.research.google.com/github/joshitha12/assignment1/blob/master/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
d={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
x=int(input("enter year"))
y=x%12
print(y)
print(d[y])

enter year2018
2
dog

In [ ]:
x=int(input("distance to be travelled"))
y=int(input("weight of the goods"))
if x >= 500 :
  if y >=100 :
    print(x*5)
  elif (y>=10) and (y< 100) :
    print(x*6)
  else :
    print(x*7)
else :
  if y>=100 :
    print(x*8)
  else :
    print(x*5)

distance to be travelled520
weight of the goods50
3120

In [ ]:
x=input("type of seat")
y=input("payment mode")
if x=="stalls" :
  if y=="cash" :
    print(625-625*0.10)
  else :
    print(625-625*0.05)
elif x=="circle":
  if y=="cash":
    print(750-750*0.10)
  else:
    print(750-750*0.05)
elif x=="upper deck":
  if y=="cash":
    print(850-850*0.10)
  else:
    print(850-850*0.05)
else :
  if y=="cash":
    print(1000-1000*0.10)
  else:
    print(1000-1000*0.05)

type of seatcircle
payment modecash
675.0

In [ ]:
M=int(input("enter quantity of water in kg"))
ft=int(input("enter final temp in celsius"))
lt=int(input("enter lower temp in celsius"))
Q=M*(ft-lt)*4184
print(Q)

enter quantity of water in kg2
enter final temp in celsius100
enter lower temp in celsius60
334720

In [ ]:
month=input("enter month")
if month=="december" or month=="january" or month=="february" :
  print("winter")
elif month=="june" or month=="july" or month=="august":
  print("summer")
elif month=="march" or month=="april" or month=="may":
  print("spring")
else :
  print("autumn")

enter monthjuly
summer

In [ ]:
x=float(input("enter weight in pounds"))
y=float(input("enter height in pounds"))
bmi=(x*0.45359237)/((y*0.0245)**2)
print(bmi)

enter weight in pounds5
enter height in pounds3
419.8180110139293

In [ ]:
n=int(input("enter a num b/w 100 to 1000"))
sum=0
while(n) :
  d=int(n%10)
  sum=sum+d
  n=int(n/10)
print(sum)

enter a num b/w 100 to 1000745
16

In [ ]:
n=int(input("enter a num b/w 1 to 1000"))
sum=0
temp=n
while(n) :
  d=int(n%10)
  sum=sum*10+d
  n=int(n/10)
if sum==temp:
  print("palindrome")
else:
  print("not palindrome")

enter a num b/w 1 to 10009
palindrome

In [ ]:
n=int(input("enter a num b/w 1 to 1000"))
sum=0
temp=n
while(n) :
  d=int(n%10)
  sum=sum+pow(d,3)
  n=int(n/10)
if sum==temp:
  print("armtrong number")
else:
  print("not armstrong number")

enter a num b/w 1 to 1000153
armtrong number

In [ ]:
for i in range(1,101):
  if i%3==0 :
    print("fizz")
  elif i%5==0 :
    print("buzz")
  elif i%3==0 and i%5==0:
    print("fizzbuzz")
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [ ]:
h=int(input("enter the height of the well"))
u=int(input("enter meters it climbs up"))
d=int(input("enter meters it slips down"))
D=u-d
H=h-u
x=int(H/D+1)
print(x)

enter the height of the well200
enter meters it climbs up50
enter meters it slips down1
4