<a href="https://colab.research.google.com/github/joshitha12/python/blob/master/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
a=int(input("enter a"))
b=int(input("enter b"))
c=int(input("enter c"))
s=(a+b+c)/2
print(s)
A=(s*(s-a)*(s-b)*(s-c))**(1/2)
print(A)

enter a3
enter b4
enter c5
6.0
6.0

In [ ]:
#2
str=input("enter a string")
def reverse(x):
  return x[::-1]
str1=reverse(str)
#print(str1)
if str1==str :
  print("palindrome")
else:
  print("not a palindrome")

enter a stringmalayalam
palindrome

In [ ]:
#3
year=int(input("enter year"))
x=year%4
if x==0:
  print("leap year")
else:
  print("not a leap year")

enter year2012
leap year

In [ ]:
#4
str=input("enter a string")
str1=''
for i in str:
  if i==" ":
    str1=str1+'-'
  else:
    str1=str1+i
print(str1)

enter a stringthis program to convert spaces to hyphen
this-program-to-convert-spaces-to-hyphen

In [ ]:
#5
s=input("enter a string ")
words=s.split(",")
s1=list(set(words))
s1.sort()
s2=",".join(s1)
print(s2)

enter a string orange, white, red, cyan, green, magenta, cyan, pink, white
 cyan, green, magenta, pink, red, white,orange

In [12]:
#6
monthly_salary=int(input("enter your monthly salary"))
if monthly_salary<=250000:
  tax_rate=0
  salary=monthly_salary
elif monthly_salary>250000 and monthly_salary<=500000:
  tax_rate=0.05
  salary=monthly_salary-(monthly_salary*tax_rate)
  #print(salary)
elif monthly_salary>500000 and monthly_salary<=750000:
  tax_rate=0.10
  salary=monthly_salary-(monthly_salary*tax_rate)
  #print(salary)
elif monthly_salary>750000 and monthly_salary<=1000000:
  tax_rate=0.15
  salary=monthly_salary-(monthly_salary*tax_rate)
  #print(salary)
elif monthly_salary>1000000 and monthly_salary<=1250000:
  tax_rate=0.20
  salary=monthly_salary-(monthly_salary*tax_rate)
elif monthly_salary>125000 and monthly_salary<=1500000:
  tax_rate=0.25
  salary=monthly_salary-(monthly_salary*tax_rate)
else:
  tax_rate=0.30
  salary=monthly_salary-(monthly_salary*tax_rate)
print(salary)

enter your monthly salary6000000
4200000.0

In [ ]:
#7
#list=[11,33,50]
# taking list as input from user
list=input("enter a list of numbers seperated by spaces")
userlist=list.split()
#print(userlist)
l="".join(map(str,userlist))
print(int(l))

enter a list of numbers seperated by spaces11 33 50
['11', '33', '50']
113350

In [ ]:
#8
duration=input("enter duration in dd:hh:mm:ss")
l=duration.split(":")
#print(l)
#by using list comprehension
d=[int(num) for num in l]
#print(d)
total_seconds=d[0]*24*60*60+d[1]*60*60+d[2]*60+d[3]
print(total_seconds)

enter time in dd:hh:mm:ss12:15:25:56
['12', '15', '25', '56']
[12, 15, 25, 56]
1092356

In [ ]:
#9
a=int(input("enter a"))
b=int(input("enter b"))
c=int(input("enter c"))
A=min(a,b,c)
C=max(a,b,c)
B=(a+b+c)-A-C 
print(A,B,C)

enter a8
enter b5
enter c9
5 8 9

In [ ]:
#10
date=input("enter date in format YYYY-MM-DD ")
date=date.replace("-"," ")
date=date.split(" ") #splitting into list of strings -----['YYYY','MM','DD']
D=[int(num) for num in date] #converting each element of list to int
if D[1] in (1,3,5,7,8,10,12):
  month_days=31
elif D[1]==2:
  if D[0]%4==0:
    month_days=29
  else:
    month_days=28
else:
  month_days=30
if D[2]<month_days:
  D[2]+=1
else:
  D[2]=1
  if D[1]==12:
    D[1]=1
    D[0]+=1
  else:
    D[1]+=1
D=[str(num) for num in D] #converting int of list to str  
D=",".join(D)             #converting list to str
print(D.replace(",","-"))

enter date in format YYYY-MM-DD 2020-12-31
2021-1-1

In [ ]:
#11
list=[45,3,2,89,72,1,10,7]
product=1
for i in list:
  product=product*i
print(product)

121111200

In [ ]:
#12
num_list=[5,6,8,34,89,1]
new_list=[]
for i in range(len(num_list)-1):
  s =num_list[i]+num_list[i+1]
  #new_list.append(s)
  new_list.insert(i,s)
print(new_list)

[11, 14, 42, 123, 90]

In [10]:
#13
num_tuple=(5,6,8,3,9,1)
m=1
out_list=[]
num_list=list(num_tuple)
#print(type(num_list))
for i in range(len(num_list)) :
  m=m*num_list[i]
  out_list.append(m)
out_tuple=tuple(out_list)
print(out_tuple)

(5, 30, 240, 720, 6480, 6480)

In [11]:
#13
num_tuple=(5,6,8,3,9,1)
m=1
out_list=[]
num_list=list(num_tuple)
#print(type(num_list))
for i in range(len(num_list)) :
  m=m*num_list[i]
  out_list.append(m)
out_tuple=tuple(out_list)
print(out_tuple)

(5, 30, 240, 720, 6480, 6480)

In [ ]:
#14
num=int(input("enter a num"))
l=[]
r=0
while(num):
  r=int(num%10)
  l.append(r)
  count+=1
  num=int(num/10)
l.reverse()
print(l)

enter a num586392
[5, 8, 6, 3, 9, 2]

In [1]:
#15
def longestpalindrome(s):
    d=[[False for i in range(len(s))] for i in range(len(s))]
    for i in range(len(s)):
        d[i][i]=True
    maxlen=1
    start=0
    for l in range(2,len(s)+1):
        for i in range(len(s)-l+1):
            end=i+l
            if l==2:
                if s[i]==s[end-1]:
                    d[i][end-1]=True
                    maxlen=l
                    start=i
            else:
                if s[i]==s[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=l
                    start=i
    return s[start:start+maxlen]
s=input("Enter a string : ")
print(longestpalindrome(s))

Enter a string : there are 121 malayalam speaking students in college
 malayalam

In [2]:
#16
a=input("enter string")
b=input("enter string")
if b in a:
  print("1")
else:
  print("0")

enter string1010110010
enter string0110
1

In [5]:
#17
def gcd(a,b):

    if b==0: 

        return a 

    return gcd(b,a%b) 

def countsteps(a,b,c): 

    v1=b

    v2=0

    count=1

    while ((v1 is not c) and (v2 is not c)): 

        temp=min(v1,a-v2) 

        v2=v2+temp 

        v1=v1-temp 

        count=count+1

        if ((v2==c)or(v1==c)): 

            break

        if v1==0: 

            v1=b 

            count=count+1

        if v2==a: 

            v2=0

            count=count+1

    return count 

def ispossible(a,b,c): 

    if a>b: 

        temp=a 

        a=b 

        b=temp 

    if c>b: 

        return -1

    if (c%(gcd(b,a)) is not 0): 

        return -1

    return(min(countsteps(b,a,c),countsteps(a,b,c)))

t=int(input("Enter no of testcases : "))

for i in range(t):

  a=int(input("Enter capacity of vessel a : "))

  b=int(input("Enter capacity of vessel b : "))

  c=int(input("Enter capacity to be obtained :"))

  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 5
Enter capacity of vessel b : 2
Enter capacity to be obtained :3
Minimum number of steps required is :  2
Enter capacity of vessel a : 2
Enter capacity of vessel b : 3
Enter capacity to be obtained :4
Minimum number of steps required is :  -1